* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}